body {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 0, 0);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flex-conteiner {
  display: flex;
  flex-flow:wrap-reverse;
  justify-content: center;
  align-content: flex;
  align-items: first baseline;
  

  
  }
  
  .items1 {
  background-color:red;
  height: 250px;
  width: 250px;
  margin: 20px;
  }
  
  .items2 {
    background-color:rgb(0, 255, 106);
    height: 250px;
    width: 250px;
    margin: 20px;
    }
    
    
    .items3 {
      background-color:rgb(140, 0, 255);
      height: 250px;
      width: 250px;
      margin: 20px;
      }
      
      .items4 {
        background-color:rgb(255, 251, 0);
        height: 250px;
        width: 250px;
        margin: 20px;
        }
        
        .items5 {
          background-color:rgb(255, 0, 149);
          height: 250px;
          width: 250px;
          margin: 20px;
          }
          
          .items6 {
            background-color:rgb(0, 247, 255);
            height: 250px;
            width: 250px;
            margin: 20px;
            }
                              
            .items7 {
              background-color:rgb(89, 0, 255);
              height: 250px;
              width: 250px;
              margin: 20px;
              }
              
              .items8 {
                background-color:rgb(0, 0, 0);
                height: 250px;
                width: 250px;
                margin: 20px;
                }
                
                .items9 {
                  background-color:rgb(204, 0, 255);
                  height: 250px;
                  width: 250px;
                  margin: 20px;
                  }
                            