body {
    background-color: rgb(21, 21, 21);
    color: rgb(0, 90, 1);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.flex-box_conteiner {
  display: flex;
  flex-direction: column;
  }
  
.flex-box_items {
  margin: 25px;
  }
    
.img_code {
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
<<<<<<< HEAD
align-content: space-between;
=======
align-content: stretch;
>>>>>>> cebe1316d904cd15f25688b097507b50f3f1426c
margin: 25px;
  }



